@{
    ViewBag.Title = "Create User";
}

<h2>Create User</h2>

<div>
    <button onclick="location.href='@Url.Action("Create", "Municipe")'" type="button">Munícipe</button>
    <button onclick="location.href='@Url.Action("Create", "OrgaoPublico")'" type="button">Órgão Público</button>
    <button onclick="location.href='@Url.Action("Create", "Administrador")'" type="button">Administrador</button>
    <button onclick="location.href='@Url.Action("Create", "Empresa")'" type="button">Empresa</button>
</div>
