/* Estilos para organizar os itens de coleta */
.itemColeta {
    display: flex;
    gap: 15px; /* Espaçamento entre os campos */
    align-items: center; /* Alinha os itens verticalmente no centro */
    margin-bottom: 10px; /* Espaçamento inferior entre os itens */
}

.itemColeta > div {
    flex: 1; /* Cada campo ocupa espaço igual */
}

.itemColeta label {
    display: block;
    margin-bottom: 5px; /* Espaçamento entre o rótulo e o campo */
}

/* Botão Adicionar */
#addItemBtn {
    margin-top: 15px;
}

/* Pontuação Total */
#pontuacaoTotal {
    font-weight: bold;
    color: #00820b;
}

/* Pontuação Item Coleta */
.pontuacaoItem {
    font-weight: bold;
    color: #00820b;
}

/* Título da lista de itens de coleta.*/
div .tituloItensColeta {
    font-weight: bold;
}

.form-group {
    height: 100%; /* Garantir que a altura seja suficiente para o alinhamento */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Empurra o botão para o final */
}
