@{
    ViewData["Title"] = "Cadastro";
}

<h2>Cadastro</h2>

<div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="User Registration Options">
        <a class="btn btn-primary mx-2" asp-area="" asp-controller="Administradores" asp-action="Create">
            Administrador
        </a>
        <a class="btn btn-secondary mx-2" asp-area="" asp-controller="OrgaoPublicos" asp-action="Create">
            Órgão Público
        </a>
        <a class="btn btn-success mx-2" asp-area="" asp-controller="Municipes" asp-action="Create">
            Munícipe
        </a>
    </div>
</div>
